.title>.actions.login_link {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 20px;
}

.title>.actions.login_link .login {
    width: 100%;
}


.spacer.login_spacer {
    height: 100px;
}

.container_login {
    text-align: center;
}

.container_login .login_form {
    background-color: rgba(255, 255, 255, 0.7);
    color: grey;
    width: 300px;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}
.container_login .login_form .login_input{
    background: rgba(0, 0, 0, 0);
    border: 0px;
    border-bottom: 1px solid grey;
    border-radius: 0px;
}
.container_login .login_form .login_btn{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 7px;
    border: 0px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 80px;
    height: 30px;
    margin: 10px 0 10px 0;
    transition: 0.3s;
    font-weight: 900;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}
.container_login .login_form .login_btn>p{
    margin: 0;
}

#file-list-display figure button {
    width: 1.5rem;
    height: 1.5rem;
    padding: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj4KICAgIDxwYXRoIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTYuODQ4IDZsMy43NzYtMy43NzZhLjYuNiAwIDEgMC0uODQ4LS44NDhMNiA1LjE1IDIuMjI0IDEuMzc2YS42LjYgMCAwIDAtLjg0OC44NDhMNS4xNTIgNiAxLjM3NiA5Ljc3NWEuNi42IDAgMSAwIC44NDguODQ5TDYgNi44NDhsMy43NzYgMy43NzZhLjU5OC41OTggMCAwIDAgMS4wMjQtLjQyNS42LjYgMCAwIDAtLjE3Ni0uNDI0TDYuODQ4IDZ6IiBvcGFjaXR5PSIuNjQiLz4KPC9zdmc+Cg==);
    background-color: rgba(30, 29, 41, 0.32);
    border-radius: 50%;
    /* position: absolute; */
    position: relative;
    top: 0.5rem;
    right: 30px;
    border: none;
    cursor: pointer;
}

#file-list-display figure .thumb_img {
    position: absolute;
    /* position: relative; */
    height: 1.5rem;
    padding: 0px 0.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    top: 0.5rem;
    left: 0.5rem;
    /* right: 100%; */
    background-color: rgba(30, 29, 41, 0.32);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    font-size: 12px;
}